.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 9px 0 rgba(35,31,32,0.25);
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__items {
    display: flex;
  }

  &__logo {
    max-width: 180px;
    img {
      width: 100%;
      height: auto;
    }
  }
  
  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    &-top {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
  }
  &__langs {
    align-self: flex-end;
    img {
      height: 12px !important;
      width: 18px !important;
      &[alt="en"] {
        margin: 0 8px;
      }
    }
  }

  &__search {
    margin-top: -4px;
    cursor: pointer;
    width: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.menu-item {
  list-style: none;
  margin-right: 1.5rem;
  position: relative;
  padding-bottom: .8rem;
  transition: all .3s ease-in-out;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: $accent;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &:last-child {
    margin-right: 25px;
  }
  a {
    font-size: 1.4rem;
    font-weight: 800;
  }
  &:hover {
    color: $accent;
    &::after {
      opacity: 1;
    }
  }
}

.current-menu-item {
  color: $accent;
  &::after {
    opacity: 1;
  }
}

.menu-btn {
  display: none;
}

#ajaxsearchlite1 {
  position: absolute;
  top: 20px;
  right: -4px;
  max-width: 220px;
  transform: scaleX(0);
  transform-origin: center right;
  transition: all .3s ease-in-out;
}

#ajaxsearchlite1.active {
  transform: scaleX(1);
  .innericon {
    opacity: 1;
  }
  // transition: all 1s ease-in-out;
}

.innericon {
  opacity: 0;
  transition: all .4s ease-in-out;
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
  padding: 5px !important;
  border: 1px solid #1e1e1e !important;
}

div.asl_m .probox .promagnifier .innericon svg, div.asl_m .probox .prosettings .innericon svg, div.asl_m .probox .proloading svg {
  width: 19px !important;
}


@media screen and (max-width: $lg) {
  #menu-menu {
    padding-left: 0;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn__burger {
    width: 30px;
    height: 4px;
    background-color: #2c2c2c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #2c2c2c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-8px);
}
.menu-btn__burger::after {
    transform: translateY(8px);
}


.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.header {
  &__right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    padding-bottom: 20px;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top center;
    transition: all .3s ease-in-out;
    width: 300px;
    &.active {
      transform: scaleY(1);
    }
    &-top {
      margin-top: 0;
      flex-direction: column;
    }
  }
  &__items {
    flex-direction: column;


  }

  &__search {
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 10px;
  }
  &__langs {
    margin-right: 40px;
    img {
      margin-top: 10px;
    }
  }

}
#ajaxsearchlite1 {
  top: auto;
  bottom: 40px;
  right: 43px;
}
.menu-item {
  margin: 11px 40px 0 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #b1b1b1;
  transition: all .3s ease-in-out;
  a {
    display: inline-block;
    width: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 25%;
    left: -10px;
    width: 4px;
    height: 4px;
    background-color: #2c2c2c;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-6px);
    transition: all .3s ease-in-out;
  }

  &:hover {
    transform: translateX(6px);
    &::after {
    opacity: 1;
    transform: translateX(0);
    }
  }
  a {
    font-size: 17px;
  }
}
.current-menu-item {
  transform: translateX(6px);
  position: relative;
  &::after {
  opacity: 1;
  transform: translateX(0);
  }
}
}

@media screen and (max-width: $sm) {
  .header {
  &__right {
    width: 100%;

  }
}
#menu {
  width: 100%;
}
}